<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <pipelines>
          <bundle.beacon>
              <processor type="Sitecore.Support.FXM.Pipelines.Bundle.BeaconLoaderProcessor, Sitecore.Support.221942" patch:instead="*[@type='Sitecore.FXM.Pipelines.Bundle.BeaconLoaderProcessor, Sitecore.FXM']" />
          </bundle.beacon>
      </pipelines>
  </sitecore>
</configuration>